.colorBanner {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.colorBanner h3, .colorBanner h2 {
    text-align: center;
}

.text-container {
    width: 50%;
    text-align: center;
}

.text-container-mobile {
    width: 85%;
}

.category-heading {
    color: #76B900;
}