
.accordion-item {
    width: 70%;
    margin: 0 auto;
}

.arrow {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 70px;
    right: 30px;
}

@media only screen and (max-width: 600px) {
    .arrow {
        position: absolute;
    }
    .accordion-item:first-child .arrow {
        top: 45px;
    }

    .accordion-item:nth-child(2) .arrow,
    .accordion-item:nth-child(3) .arrow {
        top: 70px;
    }
}

.source-link {
    text-align: right;
    margin-right: 20px;
}
