.image-banner {
    position: relative;
    width: 100%;
    background-size: cover;
    background-position: center 55%;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, .5);
    padding-top: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
}

.image-banner-content {
    width: 70%;
    position: relative;
    color: white;
    transform: translateY(-50%);
}

.image-banner-content-mobile {
    width: 100%;
    color: white;
    position: relative;
    transform: translateY(-50%);
}

.optional-div {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #76B900;
    color: white;
}

.image-banner-container {
    width: 70%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    column-gap: 20px;
}


.slider-container {
    width: calc(85% + 20px);
    margin: 0 auto;
}

.slick-slide {
    margin: 0 10px;
}

.slick-track {
    padding: 0;
}

@media (max-width: 768px) {
    .arrow-left {
        position: absolute;
        top: calc(50% - 18px);
        left: calc(100% - 95vw);
    }

    .arrow-right {
        position: absolute;
        top: calc(50% - 18px);
        right: calc(100% - 95vw);
    }
}