.imageBanner {
    position: relative;
    width: 100%;
    background-size: cover;
    background-position: center 55%;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, .5);
    padding-top: 2%;
}

.imageBannerContent {
    position: relative;
    left: 10%;
    color: white;
    transform: translateY(-50%);
    text-align: justify;
}

.imageBannerTitle {
    font-style: italic;
}

.optionalDiv {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #76B900;
    color: white;
}

.imageBannerContainer {
    width: 70%;
    display: flex;
    justify-content: space-between;
    margin: auto;
    text-align: justify;
}

@media (max-width: 768px) {
    .imageBanner.content {
        max-width: 70%;
    }
}

@media (min-width: 769px) {
    .imageBanner.content {
        max-width: 50%;
    }
}