.image-banner {
    position: relative;
    width: 100%;
    background-size: cover;
    background-position: center 55%;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, .5);
    padding-top: 2%;
}

.image-banner-content {
    position: relative;
    left: 10%;
    color: white;
    transform: translateY(-50%);
    text-align: left;
}

.image-banner-title {
    text-align: center;
}

@media only screen and (max-width: 600px) {
    .image-banner-title {
        margin-top: 40px;
    }
}

.optional-div {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #76B900;
    color: white;
}

.image-banner-container {
    width: 70%;
    display: flex;
    justify-content: space-between;
    margin: auto;
    text-align: justify;
}

.custom-arrows {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.custom-arrows .MuiIconButton-root {
    background-color: rgba(255, 255, 255, 0.5);
}

.custom-arrows .MuiSvgIcon-root {
    font-size: 1rem;
}

.custom-arrows .MuiIconButton-root:first-of-type {
    left: 10px;
}

.custom-arrows .MuiIconButton-root:last-of-type {
    right: 10px;
}

.optional-div h3 {
    text-align: center;
}