.item-container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 200px;
}

.item-image {
    height: auto;
    max-height: 450px;
    border-radius: 10px;
}

.item-heading {
    text-align: center;
}

.item-description {
    text-align: justify;
    max-width: 85%;
    margin: 0 auto;
}

@media (min-width: 769px) {
    .item-container-reverse {
        flex-direction: row-reverse;
    }
}