.video-banner {
    width: 70%;
    margin: 20px auto;
}

@media (max-width: 768px) {
    .video-banner {
        width: 85%;
        margin: 20px auto;
    }
}

.video-banner h2 {
    text-align: center;
}

.video-banner p {
    margin: 20px auto;
}
