.slick-track {
    display: flex !important;
}

.custom-slider {
    width: 70%;
    margin: 0 auto;
    padding: 1%;
}

.custom-slider .slick-list {
    padding: 0 10px 0 15px !important;
}

@media (max-width: 768px) {
    .custom-slider .slick-list {
        padding: 0 !important;
    }
}