

.slick-track {
    display: flex;
    align-items: center;
    padding: 10px;
}

.flipCardContainer {
    padding: 1%;
}

@media (max-width: 768px) {
    .flipCardContainer {
        padding: 5%;
        margin-bottom: 50px !important;
    }
    .flipCardContainer .slick-dots {
        bottom: -50px !important;
    }
}

.adaptationHTWContent {
    width: 73.5%;
    margin: 0 auto 20px auto;
}