@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@900&display=swap');
@import url('https://fonts.cdnfonts.com/css/source-sans-pro');

body {
  margin: 0;
  font-family: 'Plantagenet Cherokee', sans-serif;
  font-size: 1.125rem;
  line-height: 1.5rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  hyphens: auto;
  word-break: break-word;
}

code {
  font-family: 'Source Sans Pro', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Merriweather', serif;
  line-height: normal;
}