body {
  margin: 0;
  font-size: 20px;
  line-height: 1.5rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  hyphens: auto;
  word-break: break-word;
}

@media only screen and (max-width: 768px) {
  body {
    font-size: 16px;
  }
}

code {
  font-family: 'HTWBerlinOffice', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'HTWBerlinOffice', sans-serif;
  line-height: normal;
  text-align: left;
}

p {
  text-align: justify;
}